@charset "UTF-8";

body {
    font-family: sans-serif;
    text-align: center;
}



p {
    font-family: cursive;
    font-size: 19px;
    
}

button {
    font-size: 19px;
    font-weight: bold;
    height: 130px;
    width: 170px;
    border-radius: 10px;
}